<% if @currencies.empty? %>
    You haven't registered any buy order. 
    <span class="cta">Register your first!</span>
<% else %>
    <!-- TODO: Totals -->
    <!-- TODO: Totals per coin -->
    <!-- TODO: Recent buy orders -->
<% end %>