<div id="landing" class="text-center">
    <div class="content">
        <h1 class="logo">COIN<wbr/>WATCH</h1>
        <span class="subheader">Watch your profit from cryptocurrencies</span>

        <div class="cta">
            <%= link_to 'Register', new_user_registration_path, class: 'primary button' %>
            <span class="ph-md">or</span>
            <%= link_to 'Login', user_session_path %>
        </div>
    </div>
</div>