@import 'includes/variables';

.container {
    height: 100%;
    display: flex;
    flex-direction: row;
}

.sidebar {
    width: 220px;
    overflow: auto;
    box-shadow: inset -3px 0 4px rgba(0, 0, 0, 0.15);
    
    // TODO: Mobile friendly
    // Mobile Insights
    /*
    background: white;
    transition: 300ms;
    z-index: 999;
    
    @media screen and (max-width: map-get($breakpoints, 'smallMobile')) {
        position: fixed;
        top: 0;
        bottom: 0;
        left: -220px;
        
        &.open {
            left: 0;
            box-shadow: 3px 0 4px rgba(0, 0, 0, 0.15);
        }
    }
    */

    .logo {
        position: relative;
        left: -2px;
    }

    nav ul {
        font-family: 'Roboto', sans-serif;

        li {
            a {                
                padding: 1em;
                display: inline-block;
                width: 100%;
                
                &:hover {
                    background: rgba(map-get($colors, 'primary'), 0.1);
                }
            }
        }
    }
}

main {
    flex: 1;
    background: #fafafa;
    padding: 0.5em 1em;
    overflow: auto;
}

.notice, .alert {
    position: fixed;
    left: 1em;
    right: 1em;
    bottom: 1em;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    animation: fadeout 1s ease 7s 1 forwards;
    
    &:empty {
        display: none;
    }
}

.notice {
    background: rgba(map-get($colors, 'primary'), 0.1);
}

.alert {
    background: rgba(map-get($colors, 'secondary'), 0.1);
}

@keyframes fadeout {
    0% { 
        opacity: 1; 
    }

    100% { 
        opacity: 0;
        display: none; 
    }
}  