@import 'includes/variables';

.pagination {
    background: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    margin-top: 1em;
    padding: 0.5em;
    text-align: center;

    .page {
        a, &.current {
            display: inline-block;
            width: 26px;
            height: 26px;
            line-height: 22px;
            padding: 2px;
            border-radius: 50%;
            border: 1px solid map-get($colors, 'primary');
            font-weight: bold;
            
            &:hover {
                background: rgba(map-get($colors, 'primary'), 0.1);
            }

            &.current {
                border: 1px solid map-get($colors, 'primary');
                color: #ffffff;
                background: map-get($colors, 'primary');
            }
        }

        &.gap {
            position: relative;
            top: -4px;
        }
    }
}